#searchMenu {
    width: 5rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#searchMenu.collapse {
    width: 0px;
    display: block;
}

.blk_bg {
    background: rgba(0, 0, 0, 0.8);
}

.searchResults {
    padding-top: 4.25rem !important;
}

@media only screen and (max-width: 992px) {
    .searchResults {
        padding-top: 2.94rem !important;
    }
}

#toggleSearch {
    height: 3.3rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
}

.bi-gear::before {
    vertical-align: top;
    transform: translateY(0.65rem);
}